# Dependencies
frontend/node_modules/
backend/node_modules/
node_modules/
backend/resume-checker-backend/function.zip
backend/resume-checker-backend/lambda.js

# Environment variables
.env
.env.local

# Build files
frontend/build/
backend/dist/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log